<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="uwc.android.spruce"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="25" />

    <application android:allowBackup="true">
        <!--7.0系统手机拍照-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="uwc.android.spruce.file"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".app.AWebActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="a-https" />
                <data android:scheme="a-http" />
            </intent-filter>
        </activity>
    </application>
</manifest>
